.cabal-sandbox
cabal.sandbox.config
cabal.project.local
dist
dist-newstyle
test
result
tags
docs/_site
docs/_cache
*.hi
*.o
*.svg
*.hp
*.pdf
*.eventlog
*.eventlog.html
*.eventlog.json
*.eventlog.json.traces
