/* Custom color */
.button-black {
  background-color: black;
  border-color: black;
  color: white;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}
.container { width: 90%; }
