.tabcontent {
    padding: 15px;
    text-align: center;
    background-color:#bfbfbf;
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: #777;
}

.tabviz {
    padding: 10px;
}

.chart {
    padding: 20px;
}
