.tabcontent {
  color: white;
  display: none;
  padding: 25px;
  text-align: center;
  background-color:#993399;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
.tablink:hover {
  background-color: #777;
}

