/* Custom color */
.button-black {
  background-color: black;
  border-color: black;
  color: white;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}
.container { width: 90%;
           ; max-width: 90%;
           }

/* Reset milligram table styling so tooltips render correctly */
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

th {
  min-width: 60px;
}

.hoverflow {
  overflow: auto;
  width: 900px;
  white-space: nowrap;
}

#description{
  visibility: hidden;
}
/* https://github.com/gwatts/jquery.sparkline/issues/202 */
.jqstooltip {
  box-sizing: content-box;
}

.closureTable {
width: 100%;
}
#table {
width: 100%;
}

.cheader{
  margin-left:10px;
}
